/* Add your custom styles here. These will override the theme's styles. */

.post-meta-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.blog-tags:before {
    content: "";
}

.post-entry-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.hero-image {
    padding: 1rem
}

.img-title {
    width: auto;
    max-height: 400px;
}

.blog-post p {
    line-height: 2;
    text-indent: 6rem;
}

.posts-subheading {
    font-size: 2rem;
}

.post-meta {
    display: flex;
    flex-direction: column;
}